<div class="jumbotron jumbotron-fluid mt-4 p-4 text-light">
  <div class="container">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, provident tempora? Dolore optio possimus voluptates quidem itaque nesciunt laboriosam fugit?</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis maxime iste autem optio ea! Corporis!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
    </p>
  </div>
</div>
