<footer class="py-4 bg-dark text-white-50 sticky">
  <div class="container text-center">
    <small>Copywright &copy; <%= link_to "Emmanuel Etti", "https://emmanueletti.com", class: "text-light"%></small>
  </div>
</footer>
